@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
}

.story_container {
    max-width: 100%;
    margin: 10px;
    border: solid #ff5c16 20px;
}

.banner {
    max-width: 89%;
    border-bottom: solid #909090 10px;
    margin: auto;
    padding-left: 320px;
    font-family: tablet-gothic-wide, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3em;
    color: #909090;
}

.topper {
    display: flex;
    justify-content: space-evenly;
}

.headline_container {
    height: 100%;
    width: 40%;
    padding-top: 60px;
}

h2 {
    font-family: tasman, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5em;
    line-height: .9em;
    color: #222222;
    text-align: left;
}

h3 {
    font-family: tasman, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #909090;
    text-align: left;
    border-bottom: solid #ff5c16 5px;
    padding-bottom: 20px;
}

.chart-container {
    height: 100%;
    width: 40%;
    padding-top: 130px;
}

.byline {
    font-family: tasman, sans-serif;
}

.text {
    font-family: tasman, sans-serif;
    display: block;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    line-height: 1.5em;
    font-size: 1.25em;
}

.img1_salon {
    display: block;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.womanicon {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
    /*